{% extends "base.html" %}
{% block content %}

<header class=page_name>
<h3>Kaiju Edit Page</h3>
</header>

{% for kaiju in all_kaiju %}
<section class="table">
  <form action="/kaiju/edit" method="POST">
    <ul class="form-style-1">
      <li><label>Name <span class="required"></span></label><input type="text" id="name" name="name" value="{{kaiju.name}}"" required autofocus></li>
      <li>
        <label>DOB <span class="required"></span></label>
        <input type="text" id="dob" name="dob" value="{{kaiju.dob}}" required autofocus>
      </li>
      <li>
        <label>Kaiju Type<span class="required"></span></label>
        <input type="text" id="kaiju_type" name="kaiju_type" value="{{kaiju.kaiju_type}}" required autofocus>
      </li>
      <li>
        <label>Treatment Notes <span class="required"></span></label>
        <input type="text" id="treatment_notes" name="treatment_notes" value="{{kaiju.treatment_notes}}" required autofocus>
      </li>
      <li>
        <label>Registered</label><i id="registered" name="registered" value="{{kaiju.registered}}" required autofocus>
        <select name="field4" class="field-select">
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </li>
      <li>
        <div>
          <label for="vet">Vet:</label>
          <select name="vet_id" id="vet">
            {% for vet in all_vets %}
            <option value="{{vet.id}}">{{vet.name}}</option>
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <button type="submit">Add Kaiju</button>
      </li>
    </ul>
    </form>
</section>
{% endfor %}

{% endblock %}
