{% extends "base.html" %}
{% block content %}

<h3>Kaiju Edit Page</h3>

<form action="/kaiju/{{kaiju.id}}" method="POST">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{kaiju.name}}" required>
  </div>

  <div>
    <label for="dob">DOB:</label>
    <input type="text" id="dob" name="dob" value="{{kaiju.dob}}" required autofocus>
  </div>

  <div>
    <label for="kaiju_type">Kaiju Type:</label>
    <input type="text" id="kaiju_type" name="kaiju_type" value="{{kaiju.kaiju_type}}" required autofocus>
  </div>

  <div>
    <label for="treatment_notes">Treatment Notes:</label>
    <input type="text" id="treatment_notes" name="treatment_notes" value="{{kaiju.treatment_notes}}" required autofocus>
  </div>

  <!-- <div>
    <label for="vet">Vet:</label>
    <select id="vet" name="vet_id">
      {% for vet in all_vets %}
        <option value="{{ vet.id }}"
          {% if book.author.id == vet.id %} selected="selected"{% endif %}>
            {{ vet.name }}
        </option>
      {% endfor %}
    </select>
  </div> -->

  <button type="submit">Update Kaiju</button>

</form>

{% endblock %}
