{% extends "base.html" %}
{% block content %}

<header>
    <h3>Facts Page</h3>
</header>

<ul>
    <p><li>Kaiju is a Japanese word meaning "strange creature"</li></p>
    <p><li>Godzilla's original name, Gojira, was rumored to be the nickname of a tough guy at Toho Studios.</li></p>
    <p><li>Godzilla's classic roar is a surprising mix of sounds, including a leather glove being rubbed against a double bass</li></p>
    <p><li>Godzilla was originally going to be a giant, mutated octopus.</li></p>
    <p><li>Godzilla went head-to-head with basketball legend Charles Barkley in a comic once. It was very silly</li></p>
    <p><li>The name Godzilla is a transliteration of “Gojira,” a combination of two Japanese words: "gorira," meaning gorilla; and
    "kujira," meaning whale.</li></p>
    <p><li>In real life, the marine activism group, Sea Shepherd Conservation Society, named a high-tech, $4 million vessel
    “Gojira” in honor of the Godzilla character; the vessel was used in the campaign against Japanese whalers in the
    Southern Ocean Whale Sanctuary.</li></p>
    <p><li>For his 50th birthday (of sorts) in 2004, Godzilla was given a star on Hollywood's Walk of Fame.</li></p>
    <p><li>A Godzilla suit was stolen, then lost, then randomly washed ashore. One of the monster’s costumes was stolen from a Toho
    garage, only to be found washed up on the shores of Lake Okutama near Tokyo.</li></p>
</ul>
{% endblock %}