{% extends "base.html" %}
{% block content %}

<header>
    <h3>Facts Page</h3>
</header>

<ul>
    <li>Kaiju is a Japanese word meaning "strange creature"</li>
    <li>Godzilla's original name, Gojira, was rumored to be the nickname of a tough guy at Toho Studios.</li>
    <li>Godzilla's classic roar is a surprising mix of sounds, including a leather glove being rubbed against a double bass</li>
    <li>Godzilla was originally going to be a giant, mutated octopus.</li>
    <li>Godzilla went head-to-head with basketball legend Charles Barkley in a comic once. It was very silly</li>
    <!-- <li>His original name, Gojira, was rumored to be the nickname of a tough guy at Toho Studios.</li>
    <li>His original name, Gojira, was rumored to be the nickname of a tough guy at Toho Studios.</li>
    <li>His original name, Gojira, was rumored to be the nickname of a tough guy at Toho Studios.</li>
    <li>His original name, Gojira, was rumored to be the nickname of a tough guy at Toho Studios.</li> -->
</ul>
{% endblock %}