{% extends "base.html" %}
{% block content %}

<header>
    <h3>Meet The Team!</h3>
</header>

<div class="row">
    <div class="column">
        <div class="card">
            <!-- can't find for some reason - 'images/daisuke_serizawa_large.jpeg' -->
            <img src='https://m.media-amazon.com/images/M/MV5BNDg5YjRmYmMtMjIyYS00MTM1LTkxMTAtNjRjYTNhYTRjN2Y5XkEyXkFqcGdeQXVyMTI3MDk3MzQ@._V1_.jpg' alt="Dr.Serizawa" width="225" height="225">
            <div class="container">
                <h2>Dr. Daisuke Serizawa</h2>
                <p class="title">Former Scientist &amp; Hero</p>
                <p>Inventor, former weapons manufacturer, part time pirate</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <!-- can't find for some reason - 'images/carl_denham.png' -->
            <img src="https://64.media.tumblr.com/58ad748ecb5b8a61ef1af554f43bc245/tumblr_inline_p9yxcxSwlo1sss5ih_400.png" alt="Captain Denham" width="225" height="225">
            <div class="container">
                <h2>Captain Carl Denham</h2>
                <p class="title">Former Ship Captain</p>
                <p>Man of courage, conviction & questionable views on women</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <!-- can't find for some reason - 'images/stacker_pentecost_headshot.png' -->
            <img src="https://i.pinimg.com/originals/e6/52/31/e652314c820c8f4b1bf678a19ab2c6af.png" alt="John" width="225" height="225">
            <div class="container">
                <h2>Marshal Stacker Pentecost</h2>
                <p class="title">Jaeger Pilot</p>
                <p>Canceller of the apocalypse, owner of a fantastic mustache.</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://alchetron.com/cdn/shin-sang-ok-65514b9d-7c4f-4c68-9d17-503e01e6d50-resize-750.jpeg" alt="Shin" width="225" height="225">
            <div class="container">
                <h2>Director Shin Sang-ok</h2>
                <p class="title">Film maker/hostage</p>
                <p>Celebrated South Korean director. Not fond of Kim Jong-il.</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://scontent-lhr8-2.xx.fbcdn.net/v/t1.0-9/14572808_10209250167804761_4472452626201403865_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=UqU1HpLVR0gAX8_Cm3i&_nc_ht=scontent-lhr8-2.xx&oh=3b896b03d8482ed7caeb4c662dea78c4&oe=6082473B" alt="Tim" width="225" height="225">
            <div class="container">
                <h2>The one, the only, Tim Sinnott</h2>
                <p class="title">Idiot</p>
                <p>We honestly have no idea why we hired him.</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

</div>
{% endblock %}