{% extends "base.html" %}
{% block content %}

<header>
    <h3>Meet The Team Page Page</h3>
</header>

<div class="row">
    <div class="column">
        <div class="card">
            <!-- can't find for some reason - 'images/daisuke_serizawa_large.jpeg' -->
            <img src='https://static.wikia.nocookie.net/p__/images/a/af/Daisuke_Serizawa.jpg/revision/latest?cb=20180323004218&path-prefix=protagonist' alt="Dr.Serizawa" style="width:100%">
            <div class="container">
                <h2>Dr. Daisuke Serizawa</h2>
                <p class="title">Former Scientist &amp; Hero</p>
                <p>Inventor, genius, part time pirate</p>
                <p>https://hero.fandom.com/wiki/Daisuke_Serizawa</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <!-- can't find for some reason - 'images/daisuke_serizawa_large.jpeg' -->
            <img src="https://static.wikia.nocookie.net/godzilla/images/5/5d/Denham_SOK_at_sea.PNG/revision/latest?cb=20150509171259" alt="Captain Denham" style="width:100%">
            <div class="container">
                <h2>Carl Denham</h2>
                <p class="title">Former Ship Captain</p>
                <p>Men of courage, conviction & questionable views on women</p>
                <p>https://kingkong.fandom.com/wiki/Carl_Denham</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="img3.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}