{% extends "base.html" %}
{% block content %}

<header>
  <h3>Kaiju New Page</h3>
</header>

<form action="/kaiju" method="POST">

  
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
  </div>
  
  <div>
    <label for="dob">DOB:</label>
    <input type="text" id="dob" name="dob" required autofocus>
  </div>
  
  <div>
    <label for="kaiju_type">Kaiju Type:</label>
    <input type="text" id="kaiju_type" name="kaiju_type" required autofocus>
  </div>
  
  <div>
    <label for="treatment_notes">Treatment Notes:</label>
    <input type="text" id="treatment_notes" name="treatment_notes" required autofocus>
  </div>

  <div>
    <label for="vet">Vet:</label>
    <select name="vet_id" id="vet">
      {% for vet in all_vets %}
      <option value="{{vet.id}}">{{vet.name}}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Add Kaiju</button>

</form>
{% endblock %}