{% extends "base.html" %}
{% block content %}

<header class=page_name>
  <h3>Kaiju New Page</h3>
</header>


<form action="/kaiju" method="POST">
  <section class="table">
    <ul class="form-style-1">
      <li><label>Name <span class="required"></span></label><input type="text" id="name" name="name" required></li>
      <li>
        <label>DOB <span class="required"></span></label>
        <input type="text" id="dob" name="dob" required autofocus>
      </li>
      <li>
        <label>Kaiju Type<span class="required"></span></label>
        <input type="text" id="kaiju_type" name="kaiju_type" required autofocus>
      </li>
      <li>
        <label>Treatment Notes <span class="required"></span></label>
        <input type="text" id="treatment_notes" name="treatment_notes" required autofocus>
      </li>
      <li>
        <label>Registered</label><input type="checkbox" id="registered" name="registered" required autofocus>
      </li>
      <li>
        <div>
          <label for="vet">Vet:</label>
          <select name="vet_id" id="vet">
            {% for vet in all_vets %}
            <option value="{{vet.id}}">{{vet.name}}</option>
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <button type="submit">Add Kaiju</button>
      </li>
    </ul>
  </section>
</form>

{% endblock %}
