{% extends "base.html" %}
{% block content %}

<header class=page_name>
    <h3>Safety Advice Page</h3>
</header>

<div class="row">
    <div class="column">
        <div class="card">
            <img src='https://i.ytimg.com/vi/ikDFk_c3_bI/maxresdefault.jpg'
                alt="Atomic Breath" width="225" height="225">
            <div class="container">
                <h2>Beware of lethal attacks</h2>
                <p>Kaiju can (and will) attempt to kill you</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src='https://i.ytimg.com/vi/YQ5jpRnczP4/maxresdefault.jpg' alt="Sneaky Kaiju"
                width="225" height="225">
            <div class="container">
                <h2>Do not let your guard down</h2>
                <p>Kaiju are surprisingly good at being sneaky</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src='https://i.ytimg.com/vi/KEoduZfUgCo/mqdefault.jpg' alt="Eaten"
                width="225" height="225">
            <div class="container">
                <h2>It is important to maintain distance</h2>
                <p>If you are like the gentleman in this image, you may be too close</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src='https://img.cinemablend.com/filter:scale/quill/4/e/5/3/7/3/4e53731fb3cb21f70ee275bde5ee1e5f96fc82a5.png?mw=600' alt="Atomic Breath"
                width="225" height="225">
            <div class="container">
                <h2>Kaiju do not play well together</h2>
                <p>Keeping Kaiju near other Kaiju is why we no longer have a neo-tokyo</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src='https://static.tumblr.com/5f7fc73e06d31aaf926a65b865d60bdb/a2izyvm/pw7nbjee4/tumblr_static_tumblr_static_cr76ep2i5eok8w40w0skowoc0_focused_v3.png' alt="Atomic Breath"
                width="225" height="225">
            <div class="container">
                <h2>As a last resort use Mechs</h2>
                <p>NB: Please ensure they are piloted by a central protagonist</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
