{% extends "base.html" %}
{% block content %}

<header class=page_name>
    <h3>Safety Advice Page</h3>
</header>

<div class="row">
    <div class="column">
        <div class="card">
            <img src='https://i.ytimg.com/vi/ikDFk_c3_bI/maxresdefault.jpg'
                alt="Atomic Breath" width="225" height="225">
            <div class="container">
                <h2>Beware of lethal attacks</h2>
                <p>Kaiju can (and will) attempt to kill you</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src='https://i.ytimg.com/vi/YQ5jpRnczP4/maxresdefault.jpg' alt="Sneaky Kaiju"
                width="225" height="225">
            <div class="container">
                <h2>Do not let your guard down</h2>
                <p>Kaiju are surprisingly good at being sneaky</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src='https://i.ytimg.com/vi/KEoduZfUgCo/mqdefault.jpg' alt="Eaten"
                width="225" height="225">
            <div class="container">
                <h2>It is important to maintain distance</h2>
                <p>Most kaiju seem to find humans delicious, unfortunately</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src='https://img.cinemablend.com/filter:scale/quill/4/e/5/3/7/3/4e53731fb3cb21f70ee275bde5ee1e5f96fc82a5.png?mw=600' alt="Atomic Breath"
                width="225" height="225">
            <div class="container">
                <h2>Kaiju do not play well together</h2>
                <p>Keeping Kaiju near other Kaiju is why we no longer have a neo-tokyo</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src='https://static.tumblr.com/5f7fc73e06d31aaf926a65b865d60bdb/a2izyvm/pw7nbjee4/tumblr_static_tumblr_static_cr76ep2i5eok8w40w0skowoc0_focused_v3.png' alt="Atomic Breath"
                width="225" height="225">
            <div class="container">
                <h2>In extreme situations, Mechs!</h2>
                <p>Please ensure they are piloted by a central protagonist however</p>
            </div>
        </div>
    </div>
</div>

<div class="new_column">
    <h3>Hidden Kaiju Facts!</h3
        <ul>
             <p>
                <li>Kaiju is a Japanese word meaning "strange creature"</li>
            </p>
            <p>
                <li>Godzilla's original name, Gojira, was rumored to be the nickname of a tough guy at Toho Studios.</li>
            </p>
            <p>
                <li>Godzilla's classic roar is a surprising mix of sounds, including a leather glove being rubbed against a double bass</li>
            </p>
            <p>
                <li>Godzilla was originally going to be a giant, mutated octopus.</li>
            </p>
            <p>
                <li>Godzilla went head-to-head with basketball legend Charles Barkley in a comic once. It was very silly</li>
            </p>
            <p>
                <li>The name Godzilla is a transliteration of “Gojira,” a combination of two Japanese words: "gorira," meaning gorilla; and "kujira," meaning whale.</li>
            </p>
            <p>
                <li>In real life, the marine activism group, Sea Shepherd Conservation Society, named a high-tech, $4 million vessel “Gojira” in honor of the Godzilla character; the vessel was used in the campaign against Japanese whalers in the Southern Ocean Whale Sanctuary.</li>
            </p>
            <p>
                <li>For his 50th birthday (of sorts) in 2004, Godzilla was given a star on Hollywood's Walk of Fame.</li>
            </p>
            <p>
                <li>A Godzilla suit was stolen, then lost, then randomly washed ashore. One of the monster’s costumes was stolen from a Toho garage, only to be found washed up on the shores of Lake Okutama near Tokyo.</li>
            </p>
        </ul>
  
</div>
{% endblock %}
