<!-- Show Kaiju HTML, first draft -->
{% extends "base.html" %}
{% block content %}

<header>
  <h3>Kaiju Show Page</h3>
</header>

  <div>
    <label for="id">The Kaiju ID</label>
    <input type="search" id="id">
    <button type="button">Enter ID</button>
  </div>

  <!-- {% for kaiju in sole_kaiju %}
    <div>
      <p>{{kaiju.name}}</p>
      <p>{{kaiju.dob}}</p>
      <p>{{kaiju.type}}</p>
      <p>{{kaiju.treatment_notes}}</p>
      <p>{{kaiju.vet.name}}</p>
      <p>{{kaiju.registered}}</p>
  
    </div>
  {% endfor %} -->
{% endblock %}
