<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Kaiju Vet Management App</title>
</head>

<body>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/kaiju">Current Kaiju Selection</a></li>
                <li><a href="/kaiju/new">Add New Kaiju</a></li>
                <li><a href="/kaiju/edit">Edit Existing Kaiju</a></li>
                <li><a href="/kaiju/meetthevetteam">Current Vet Team</a></li>
                <li><a href="/kaiju/safetyadvice">Safety Advice</a></li>
                <li><a href="/kaiju/other">Misc Page</a></li>
            </ul>
        </nav>
    </header>

        {% block content %} 
        {% endblock %}

    </div>

{% block home %}
{% endblock %}
</body>
<footer>
</footer>
</html>